<%= form_for(@showtime) do |f| %>
  <% if @showtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showtime.errors.count, "error") %> prohibited this showtime from being saved:</h2>

      <ul>
      <% @showtime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br />
    <%= f.number_field :movie_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
